@import './global.scss';

.carroussel {
    position: relative;
    height: 415px;

    @include small-screen {
        height: 255px;
    }

    & > img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        width: 45px;
        height: 80px;

        @include small-screen {
            width: 12px;
            height: 20px;
        }

        &:first-child {
            left: 10px;
        }

        &:last-child {
            right: 10px;
        }
    }

    .box_image {
        display: flex;
        justify-content: center;
        position: relative;
        height: 100%;
        width: 100%;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 25px;
        }

        p {
            position: absolute;
            color: white;
            bottom: 5px;
        }
    }
}