@import './global.scss';

.carroussel {
    height: 415px;

    & > img {
        position: absolute;
        top: 50%;
        z-index: 10;

        &:first-child {
            left: 120px;

            @include small-screen {
                left: 40px;
            }
        }

        &:last-child {
            right: 120px;

            @include small-screen {
                right: 40px;
            }
        }
    }

    .box_image {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 25px;
        }
    }
}