@import './global.scss';

.collapse {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 20px;
    position: relative;

    & > * {
        display: flex;
        align-items: center;
        padding: 20px;

        @include small-screen {
            padding: 10px;
        }
    }

    h2 {
        background-color: #FF6060;
        color: #FFF;
        border-radius: 10px;
        
        &:after {
            display: inline-block;
            content: "";
            background: url('../assets/arrow_menu.svg') center/contain no-repeat;
            position: absolute;
            right: 15px;
            transform: rotate(0);
            transition: transform 0.3s ease;

            width: 24px;
            height: 14px;

            @include small-screen {
                width: 16px;
                height: 9px;
            }
        }
    }

    &.open {
        background-color: #F6F6F6;
        h2:after {
            transform: rotate(180deg) translateY(15%);
        }
    }
}