.collapse {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 20px;

    h2 {
        background-color: #FF6060;
        color: #FFF;
        padding-left: 20px;
        padding-top: 10px;
        border-radius: 10px;
        height: 37px;
        
        &:after {
            content: url('../assets/arrow_menu.svg');
            position: absolute;
            right: 40px;
            transform: rotate(0);
            transition: transform 0.3s ease;
        }
    }

    &.open {
        background-color: #F6F6F6;
        h2:after {
            transform: rotate(180deg) translateY(15%);
        }
    }

    p {
        padding: 30px;
        padding-top: 20px;
    }
}