@import './global.scss';

main.error {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    color: #FF6060;
    
    h1 {
        font-size: 288px;
        font-weight: 700;
        line-height: 410px;
        margin: 0;

        @include small-screen {
            font-size: 96px;
            font-weight: 700;
            line-height: 137px;
        }
    }

    p {
        font-size: 36px;
        font-weight: 500;
        line-height: 51px;

        @include small-screen {
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
        }
    }
    
    a {
        text-decoration: none;
        margin: 100px 0;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;

        &:visited {
            text-decoration: none;
            color: #FF6060;
        }

        &:hover {
            text-decoration: underline;
        }

        @include small-screen {
            font-size: 14px;
            line-height: 20px;
        }
    }
}



