footer {
    display: flex;
    position: absolute;
    left: 0;
    width: 100%;

    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center;

    background-color: black;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;

    & > img {
        padding-bottom: 20px;
    }
}