header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav > a{
    display:inline-block;
    color: #FF6060;
    text-decoration: none;
    margin: 20px;

    &:hover {
        text-decoration: underline;
    }
}
