@import './style_reset_mini.scss';
@import './global.scss';

body {
  max-width: $max-width;
  margin: auto;
}

#root {
  margin: 40px 100px 0 100px;

  @include small-screen {
    margin: 20px 20px 0 20px;
  }
}